{% extends "layout.html" %}

{% block title %}Movies Listing{% endblock %}


{% block content %}
    {{super()}}
    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
			<td>Cover</td>
            <td>Year</td>
			<td>Video</td>
			<td>Audio</td>
			<td>Subtitles</td>
            <td>IMDB</td>
        </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
         <tr>
            <td>{{movie.c00}}</td>
			<td><img height="200px" width="200px"  src="{{ posters[movie.c09]}}"/></td>
            <td>{{movie.c07}}</td>
			<td>{{ streaminfos.get(movie.idFile).render_video() |safe}}</td>
			<td>{{ streaminfos.get(movie.idFile).render_audio() |safe}}</td>
			<td>{{ streaminfos.get(movie.idFile).render_subtitle() |safe}}</td>
            <td><a href="http://www.imdb.com/title/{{movie.c09}}/" target="_blank">Link</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
